*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightslategray;
}

header{
    height: 100px;
    background: rgb(56, 52, 59);
    text-align:  center;
}

header h1{
    padding-top: 10px;
    margin-bottom: 10px;

}

/*.inner-header{
    max-width: 1200px;
    height: 400px;
    margin: 0px auto;
    background: red;
}*/
header nav ul li{ 
    width: 80px;
    list-style-type: none;
    float: left;
    margin-left: 140px;
    /* margin-right: 20px; */
}

header nav ul li a{
    color:whitesmoke
}

#wrapper{
    max-width: 2000px; /*increased from 1200px */
    height: auto;
    margin: 20px auto;
    /* clear: both; */
    /* overflow: hidden; */
}

#mamp{
    /*background:yellow; */
    margin-top: 10px;
    width: 100%;
    height: auto;
    clear: both;
    overflow: hidden;
}

#mamp img{
    max-width: 100%;
    object-fit: cover;
}
main{
    width: 60%;
    background: lightblue;
    float: left;
}

p{
    margin-top: 5px;
    padding: 5px;
}
aside{
    width: 38%;
    background: lightgrey;
    float: right;
}

aside h1{
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}


aside h2 {
    margin-top: 10px;
    padding-top: 25px;
    text-align: center;
}

aside ul{
    margin-top: 10px;
}


aside ul li{
    list-style-type:none;
    margin: 5px 0px 5px 0px; 
    text-align: center;
}

img{
    float: left;
    margin: 5px 5px;
}

.image-container{
    margin-left: 20px;
}

footer {
    height: 60px;
    background: rgb(56, 52, 59);
    padding-top: 10px;
    clear: both;
    overflow: hidden;
    }
    
     footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
     }   
    
     footer li{
    justify-content: center;
    margin: 0 15px;
    color: whitesmoke;
     }

     footer a{
        color: whitesmoke;
     }
/* typography */

header h1{
    color: whitesmoke;
    /* padding-top: 10px; */
}

h1{
    font-size: 2em;
    /* margin-bottom: 10px; */
}
 

aside h1{
    /* font: size 1em; */
}
aside li{
    font-size: 1.5em;
}

h2{
    font-size: 1.75em;
}