/* styles for my week 6 form, which will eventually be emailed*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(168, 183, 238);
}

h1{
    text-align: center;
    margin-top: 20px;
}

/*---form----*/
form{
    width: 500px;}

form ul{
    list-style-type:none;
    margin-bottom: 10px;
    margin-left: 5px;
}

fieldset{
    padding: 10px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel]{
    width: 100%;
    margin-bottom: 10px;
}

select{
    margin-bottom: 10px;
}

textarea{
    width: 100%;
    resize: none;
    height: 80px;
    margin-bottom: 10px;
}
